<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder = "Pregunta" value="<%= quiz.pregunta %>"><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder = "Respuesta" value="<%= quiz.respuesta %>"><p>
<label for="resp" class="rem">Tema:</label>
<select name="quiz[tema]" id="tem" value=<%= quiz.tema=quiz.tema||'otro' %>>
	<% for (var i in listaTemas) { %>
		<option value=<%= listaTemas[i][0] %> <%= quiz.tema===listaTemas[i][0]?'selected':'' %>>
			<%= listaTemas[i][1] %>
		</option>
	<% } %>
</select><br>
<a href="/quizes" class="myButton btnAnimate btnWx2">
	<i class="fa fa-undo hoverColorRed"></i>
	<span class="hoverColorRed">Cancelar</span>
</a>
<button type="submit" value="Salvar" class="myButton btnAnimate">
	<i class="fa fa-floppy-o hoverColorGreen"></i>
	<span class="hoverColorGreen">Salvar</span>
</button>