<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<% for (var i = 0; i<listaTemas.length; i++)
		quiz.tema = (listaTemas[i][0]===quiz.tema)?listaTemas[i][1]:quiz.tema; %>
	<p>Tema: <%= quiz.tema %></p>
 	<p>Pregunta: <%= quiz.pregunta %></p>
 	<input type="text" name="respuesta" placeholder="Responda aquí">
 	<button type="submit" value="Enviar" class="myButton btnAnimate">
 		<i class="fa fa-paper-plane hoverColorGreen"></i>
		<span class="hoverColorGreen">Enviar</span>
 	</button>
</form><br>
<a href="/quizes">Volver a la lista de preguntas</a><br><br>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button class="myButton btnAnimate btnHx2 btnWx2">
	<i class="fa fa-comments-o hoverColorBlue"></i>
	<span class="hoverColorBlue">Nuevo comentario</span>
</button></a></p>

<p><strong>Comentarios:</strong></p>
<table>
<% for(index in quiz.Comments) { %>
	<% if(quiz.Comments[index].publicado || session.user) { %>
		<tr>
		<td align="left">- <%= quiz.Comments[index].texto %></td>
		<% if(session.user) {%>
			<td>
				<form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>?_method=delete">
					<button type="submit" onClick="return confirm('¿Borrar el comentario?');" class="myButton btnAnimateSmall">
						<i class="fa fa-trash hoverColorRed"></i>
						<span class="hoverColorRed">Borrar</span>
					</button>
				</form>
			</td>
		<% } %>
		<% if(session.user && !quiz.Comments[index].publicado) { %>
			<td><form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish?_method=put">
				<button type="submit" class="myButton btnAnimateSmall">
					<i class="fa fa-eye hoverColorGreen"></i>
					<span class="hoverColorGreen btnSmall">Publicar</span>
				</button>
			</form></td>
		<% } %>
	<% } %>
<% } %>
</table>